@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.eon-roller {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.eon-roller > * {
  margin: 2px;
}

.eon-roller .eon-roller__stacked {
  height: 34px;
  margin-right: 2px;
}

.eon-roller .flexrow {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.eon-roller button {
  background: transparent;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  -webkit-box-shadow: 0 0 6px inset #8d9ea7;
  box-shadow: 0 0 6px inset #8d9ea7;
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  position: relative;
}

.eon-roller button:hover {
  color: #ff6400;
  border-color: #ff6400;
  -webkit-box-shadow: 0 0 6px inset #ff6400;
  box-shadow: 0 0 6px inset #ff6400;
}

.eon-roller button:hover svg * {
  fill: #ff6400;
}

.eon-roller__ob.active {
  background: #ff6400;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.eon-roller__ob.active:hover {
  background: #000;
  -webkit-box-shadow: none;
  border: 1px solid #000;
  box-shadow: none;
  color: #ff6400;
}


.eon-roller button.eon-roller__roll:hover {
  background: #ff6400;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.eon-roller button.eon-roller__math--sub:hover {
  background: #ff6400;
  -webkit-box-shadow: 0 0 6px inset #ff6400;
  box-shadow: 0 0 6px inset #ff6400;
  color: #fff;
}

.eon-roller button.eon-roller__math--add:hover {
  background: #0a9843;
  -webkit-box-shadow: 0 0 6px inset #0a9843;
  box-shadow: 0 0 6px inset #0a9843;
  border-color: #0a9843;
  color: #fff;
}

.eon-roller button svg {
  width: 100%;
  height: auto;
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.eon-roller button svg * {
  fill: #fff;
}

.eon-roller button .eon-roller__flag {
  position: absolute;
  bottom: calc(100% - 2px);
  left: 0;
  right: 0;
  font-size: 14px;
  height: 18px;
  line-height: 1;
  background-color: #ff6400;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px 4px 0 0;
  max-height: 18px;
  -webkit-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}

.eon-roller button .eon-roller__flag:hover, .eon-roller button .eon-roller__flag:focus {
  background-color: #ff6400;
  color: #fff;
}

.eon-roller button .eon-roller__flag.hide {
  max-height: 0;
}

.eon-roller input[type="text"] {
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background-color: rgba(250, 250, 250, 0.15);
  border: 1px solid #000;
  -webkit-box-shadow: 0 0 6px inset #fff;
  box-shadow: 0 0 6px inset #fff;
}

.eon-roller input[type="text"]:hover, .eon-roller input[type="text"]:focus {
  border: 1px solid #ff6400;
  -webkit-box-shadow: 0 0 6px inset #ff6400;
  box-shadow: 0 0 6px inset #ff6400;
}

.tray-dice-row {
  clear: both; 
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
}

.tray-dice-area {
  height: 30px;
  flex: 0 1 calc(20%);
}

.tray-dice {
  scale:2;
  margin-left: 8px;
  margin-top: 8px;
}

.tray-dice-text {
  font-size: xx-large;
}

.tray-dice-max {
  color: red;
  opacity: 0.25;
}

.tray-roll-area {

}

.tray-result-area {
  margin-top: 10px;
  font-size: large;
}